Repository yeisme/gocli: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports, go-mod-tidy, golangci-lint, go-unit-tests

go-imports:
  name: goimports
  description: Auto format Go code and manage imports.
  entry: goimports -w
  language: golang

go-mod-tidy:
  name: go mod tidy
  description: Run 'go mod tidy' to clean up go.mod.
  entry: go mod tidy
  language: golang

golangci-lint:
  name: golangci-lint
  description: Run golangci-lint static analysis.
  entry: golangci-lint run --fix
  language: golang

go-unit-tests:
  name: go-unit-tests
  description: Run Go unit tests.
  entry: go test ./...
  language: golang
  pass_filenames: false

feat(plugin): 插件机制，在特定目录（配置文件中的 plugin.path 目录， ）
  .gocli.yaml
  .pre-commit-config.yaml
  cmd/config.go
  cmd/plugin.go
  cmd/project.go
  cmd/root.go
  cmd/tools.go
  go.mod
  go.sum
  pkg/configs/configs.go
  pkg/configs/env.go
  pkg/configs/plugin.go
  pkg/configs/tools.go
  pkg/models/plugin.go
  pkg/utils/plugin.go
Due: go-imports, go-mod-tidy, golangci-lint, go-unit-tests

fix(lint): 使用 golang-lint 约束代码质量，并且修改 lint 的文件
  .gitignore
  .golangci.yaml
  .pre-commit-config.yaml
  cli/main.go
  cmd/config.go
  cmd/plugin.go
  cmd/project.go
  cmd/root.go
  cmd/tools.go
  pkg/configs/configs.go
  pkg/configs/display.go
  pkg/configs/env.go
  pkg/configs/plugin.go
  pkg/configs/tools.go
  pkg/context/context.go
  pkg/models/models.go
  pkg/models/plugin.go
  pkg/project/project.go
  pkg/tools/tools.go
  pkg/utils/log/log.go
  pkg/utils/plugin/plugin.go
Due: go-imports, golangci-lint, go-unit-tests

feat(version): 版本信息
  .gitignore
  Makefile
  cmd/version.go
  pkg/utils/version/version.go
Due: go-imports, golangci-lint, go-unit-tests

feat(project): 完成 build 和 run 共享命令解析，并添加一些预设构建参数
  cmd/project.go
  cmd/root.go
  pkg/context/context.go
  pkg/project/build.go
  pkg/utils/log/log.go
Due: go-imports, golangci-lint, go-unit-tests

fix(configs): 修复获取 go 环境变量频繁调用 go env 导致卡顿问题
  .gitignore
  pkg/configs/env.go
Due: go-imports, golangci-lint, go-unit-tests

feat(project): build 和 run 命令热加载
  .gocli.yaml
  cmd/config.go
  cmd/project.go
  cmd/root.go
  go.mod
  go.sum
  pkg/configs/app.go
  pkg/project/build.go
  pkg/utils/fsop/fsop.go
  pkg/utils/fsop/fsop_test.go
  pkg/utils/gitignore/gitignore.go
  pkg/utils/gitignore/gitignore_test.go
  pkg/utils/hotload/debounce.go
  pkg/utils/hotload/events.go
  pkg/utils/hotload/hotload.go
  pkg/utils/hotload/watcher.go
Due: go-imports, go-mod-tidy, golangci-lint, go-unit-tests

feat(style): table 美化输出
  cmd/plugin.go
  go.mod
  go.sum
  pkg/style/style.go
  pkg/style/table.go
  pkg/utils/log/log.go
Due: go-imports, go-mod-tidy, golangci-lint, go-unit-tests

feat(tools): tool list
  .gitignore
  .gocli.yaml
  cmd/plugin.go
  cmd/tools.go
  pkg/project/build.go
  pkg/style/table.go
  pkg/tools/tools.go
  pkg/utils/log/log.go
Due: go-imports, golangci-lint, go-unit-tests

fix(tools): 美化 gocli tools list 的输出
  .gocli.yaml
  cli/main.go
  cmd/tools.go
  pkg/configs/tools.go
  pkg/tools/tools.go
Due: go-imports, golangci-lint, go-unit-tests

feat(tools): tools install 命令，并添加进度条
  cmd/gocli/main.go
  cmd/project.go
  cmd/tools.go
  go.mod
  go.sum
  pkg/project/info.go
  pkg/project/lint.go
  pkg/style/spinner.go
  pkg/tools/install.go
Due: go-imports, go-mod-tidy, golangci-lint, go-unit-tests

fix(tools): 修复 gocli tools list --verbose，输出更多信息，类似 gocli plugins list
  cmd/tools.go
  pkg/tools/tools.go
Due: go-imports, golangci-lint, go-unit-tests

feat(style): tree list 输出
  pkg/style/list.go
  pkg/style/style.go
  pkg/style/table.go
  pkg/style/tree.go
Due: go-imports, golangci-lint, go-unit-tests

feat(project): count 统计代码信息 utils 函数
  pkg/models/project_info.go
  pkg/utils/count/all_project.go
  pkg/utils/count/count.go
  pkg/utils/count/go_details.go
  pkg/utils/count/singlefile.go
Due: go-imports, golangci-lint, go-unit-tests

test(project): 完成统计代码信息的测试
  pkg/utils/count/all_project_test.go
  pkg/utils/count/go_details_test.go
  pkg/utils/count/singlefile_test.go
Due: go-imports, golangci-lint, go-unit-tests

feat(project): gocli project info 命令
  cmd/project.go
  pkg/models/project_info.go
  pkg/project/info.go
  pkg/style/style.go
  pkg/style/table.go
  pkg/utils/count/all_project.go
Due: go-imports, golangci-lint, go-unit-tests

feat(build): 更新 GoReleaser 配置，添加版本信息和构建日期
  .goreleaser.yaml
  Makefile
  Taskfile.yaml
Due: none

feat(project): 添加项目构建和运行命令示例
  cmd/plugin.go
  cmd/project.go
  pkg/utils/version/version.go
Due: go-imports, golangci-lint, go-unit-tests

feat(tools): 增强工具列表命令，支持 JSON 和详细输出
  cmd/tools.go
Due: go-imports, golangci-lint, go-unit-tests

refactor(project): 迁移Info 命令主逻辑到 project 包
  cmd/project.go
  pkg/project/build.go
  pkg/project/info.go
  pkg/project/project.go
Due: go-imports, golangci-lint, go-unit-tests

feat(project): 完成 lint 和 fmt 命令
  cmd/project.go
  pkg/project/fmt.go
  pkg/project/lint.go
  pkg/style/line.go
  pkg/style/style.go
Due: go-imports, golangci-lint, go-unit-tests

fix(project): 完善 fmt 和 lint 命令，添加指定配置文件等
  cmd/project.go
  pkg/project/fmt.go
  pkg/project/lint.go
Due: go-imports, golangci-lint, go-unit-tests

feat(tools): 从配置文件中加载安装工具
  cmd/tools.go
  pkg/utils/count/count.go
Due: go-imports, golangci-lint, go-unit-tests

feat(project): 完善 gocli project list 命令
  cmd/project.go
  pkg/project/list.go
  pkg/style/list.go
  pkg/utils/list/list.go
Due: go-imports, golangci-lint, go-unit-tests

chore: 更新依赖包版本
  go.mod
  go.sum
Due: go-mod-tidy

feat(project): gocli project update 命令
  cmd/project.go
  pkg/project/update.go
  pkg/utils/deps/update.go
Due: go-imports, golangci-lint, go-unit-tests

feat(style): json 样式美化输出
  cmd/project.go
  pkg/project/deps.go
  pkg/style/json.go
  pkg/style/style.go
  pkg/utils/deps/list.go
Due: go-imports, golangci-lint, go-unit-tests

feat(project): 完成了 gocli project list 命令
  cmd/project.go
  pkg/project/deps.go
  pkg/project/fmt.go
  pkg/style/list.go
  pkg/style/style.go
  pkg/utils/deps/list.go
Due: go-imports, golangci-lint, go-unit-tests

style: 修改除去句号
  cmd/tools.go
  pkg/project/info.go
  pkg/style/list.go
  pkg/style/spinner.go
  pkg/style/style.go
  pkg/style/table.go
  pkg/tools/builtin.go
  pkg/tools/install.go
  pkg/tools/test_tools.go
  pkg/utils/count/count.go
  pkg/utils/count/singlefile.go
  pkg/utils/fsop/fsop.go
Due: go-imports, golangci-lint, go-unit-tests

feat(project): gocli project deps 命令
  cmd/project.go
  pkg/project/deps.go
  pkg/project/fmt.go
  pkg/project/lint.go
  pkg/tools/exec.go
  pkg/tools/test_tools.go
  pkg/utils/count/all_project.go
  pkg/utils/deps/graph.go
  pkg/utils/deps/graph_test.go
  pkg/utils/deps/list.go
  pkg/utils/deps/mod.go
  pkg/utils/deps/update.go
Due: go-imports, golangci-lint, go-unit-tests

fix(tools): 修改 gocli tools install --global
  cmd/tools.go
  pkg/tools/builtin.go
  pkg/tools/tools.go
Due: go-imports, golangci-lint, go-unit-tests

refactor(tools): 重构 gocli tools install 命令中使用到的 InstallTool 函数，方便整合 goreleaser 等生态
  cmd/tools.go
  pkg/configs/tools.go
  pkg/tools/artifacts.go
  pkg/tools/build_runner.go
  pkg/tools/builtin.go
  pkg/tools/clone_build.go
  pkg/tools/clone_common.go
  pkg/tools/git_tags.go
  pkg/tools/go_install.go
  pkg/tools/goreleaser_build.go
  pkg/tools/install.go
  pkg/tools/make_build.go
  pkg/tools/paths_utils.go
  pkg/tools/rename_snapshot.go
Due: go-imports, golangci-lint, go-unit-tests

feat(project): 完成 gocli project doc 命令的纯文本输出部分 基本实现命令行使用 go doc 并输出到控制台的功能 1. gocli project doc ./ 输出当前项目模块信息 2. gocli projcet doc fmt 输出标准库模块信息 3. gocli project doc gorm.io/gorm 支持输出三方库模块信息
  cmd/project.go
  go.mod
  go.sum
  pkg/configs/configs.go
  pkg/configs/doc.go
  pkg/configs/env.go
  pkg/project/doc.go
  pkg/style/markdown.go
  pkg/utils/doc/gdoc.go
  pkg/utils/doc/gen.go
  pkg/utils/doc/opt.go
  pkg/utils/doc/plain.go
  pkg/utils/doc/render.go
  readme.md
Due: go-imports, go-mod-tidy, golangci-lint, go-unit-tests

feat(project): 完善 GenDoc 中的 output 部分代码
  cmd/config.go
  cmd/project.go
  pkg/configs/display.go
  pkg/configs/doc.go
  pkg/project/doc.go
  pkg/utils/doc/gdoc.go
  pkg/utils/doc/gen.go
  pkg/utils/doc/opt.go
  pkg/utils/doc/plain.go
Due: go-imports, golangci-lint, go-unit-tests

feat(style): 美化输出 toml 和 yaml 函数
  pkg/configs/display.go
  pkg/context/context.go
  pkg/style/toml.go
  pkg/style/yaml.go
Due: go-imports, golangci-lint, go-unit-tests

fix(configs): 修复 gocli configs list app.hotload --all 时，无法正常获取 Config 子结构体 Error getting config section: unknown configuration section: app.hotload
  cmd/project.go
  cmd/root.go
  pkg/configs/display.go
  pkg/project/info.go
Due: go-imports, golangci-lint, go-unit-tests

fix(project): 修复 build/run 命令对 args 的解析，build 仅支持传入一个参数作为要构建的模块路径，run支持传入更多作为构建生成二进制的子命令，同时 run 命令支持使用 `--` 传入子命令参数
  go.mod
  go.sum
  pkg/project/build.go
Due: go-imports, go-mod-tidy, golangci-lint, go-unit-tests

fix(project): 修复 project info 中 include 与 exclude 输出为空
  cmd/project.go
  pkg/utils/count/all_project.go
Due: go-imports, golangci-lint, go-unit-tests

fix(configs): 进入项目子目录无法加载配置文件
  cmd/config.go
  cmd/project.go
  pkg/configs/app.go
  pkg/configs/configs.go
  pkg/configs/init.go
  pkg/project/init.go
  pkg/tools/exec.go
  pkg/tools/test_tools.go
  pkg/utils/deps/mod.go
  pkg/utils/newproject/go.go
  pkg/utils/newproject/init.go
  pkg/utils/newproject/templates/go/basic/main.go
  pkg/utils/newproject/templates/go/stdweb/main.go
Due: go-imports, golangci-lint, go-unit-tests

fix(log): 确保在子目录工作时，创建的日志在根目录的 .gocli/gocli.log 文件中
  pkg/configs/configs.go
  pkg/context/context.go
  pkg/utils/log/log.go
Due: go-imports, golangci-lint, go-unit-tests

fix(project): 修复 info build init 等命令的一些问题
  cmd/project.go
  pkg/project/build.go
  pkg/project/info.go
  pkg/project/init.go
  pkg/utils/log/log.go
  pkg/utils/newproject/copy.go
  pkg/utils/newproject/go.go
  pkg/utils/newproject/init.go
Due: go-imports, golangci-lint, go-unit-tests

Path conditions:
  go-imports: any of: \.go$
  go-mod-tidy: any of: ^go\.mod$
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
